<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Home
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Agregar Nuevos Médicos o Buscar Existentes.<br>
    <span style="color:gray;">(Se usa Firebase Query para obtener los resultados de la búsqueda)</span>
  </p>
  <table>
    <tbody>
      <tr>
        <td>Nombre</td>
        <td>
          <input type="text" [(ngModel)]="employee.name" required>
        </td>
      </tr>
      <tr>
        <td>Teléfono</td>
        <td>
          <input type="number" [(ngModel)]="employee.phone" required>
        </td>
      </tr>
      <tr>
        <td>Especialidad</td>
        <td>
          <input type="text" [(ngModel)]="employee.designation" required>
        </td>
      </tr>
      <tr>
        <td>Matrícula</td>
        <td>
          <input type="number" [(ngModel)]="employee.salary" required>
        </td>
      </tr>
      <tr>
        <td>FechaIngreso</td>
        <td>
          <input type="date" [(ngModel)]="employee.joinDate" required>
        </td>
      </tr>
      <tr>
        <td>Dirección</td>
        <td>
          <input type="text" [(ngModel)]="employee.address" required>
        </td>
      </tr>
      <tr>
        <td>Adicional</td>
        <td>
          <input type="text" [(ngModel)]="employee.extraInfo" required>
        </td>
      </tr>
      <tr>
        <td>Añadir</td>
        <td>
          <!-- submit button (to create new employee) -->
          <ion-button *ngIf="!toggleUpdateBtn" (click)="addEmployee(employee)">Enviar</ion-button>
          <!-- update button (to update existing employee) -->
          <ion-button *ngIf="toggleUpdateBtn" (click)="updateEmployee(employee)">Actualizar</ion-button>

          <!-- search button (find employee based on given info) -->
          <ion-button *ngIf="toggleSearchBtn" (click)="searchEmployee(employee)">Buscar</ion-button>
          <!-- clear search button (clear search result and display all employee)
              by calling clearSearch() -->
          <ion-button *ngIf="!toggleSearchBtn" (click)="clearSearch()">Limpiar Búsqueda</ion-button>
        </td>
      </tr>
    </tbody>
  </table>

  <p style="border-top: 1px solid gray;"></p>
  
  <p>
    Lista de Médicos Exitosa.
  </p>
  <table>
    <thead>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Especialidad</th>
      <th>Matrícula</th>
      <th>FechaIngreso</th>
      <th>Dirección</th>
      <th>Adicional</th>
      <th>Actualizar</th>
      <th>Eliminar</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.nombre }}</td>
        <td>{{ employee.telefono }}</td>
        <td>{{ employee.especialidad }}</td>
        <td>{{ employee.matricula }}</td>
        <td>{{ employee.fechaIngreso }}</td>
        <td>{{ employee.direccion }}</td>
        <td>{{ employee.adicional }}</td>
        <td>
          <ion-button (click)="editFunc(employee)">Editar</ion-button>
        </td>
        <td>
          <ion-button (click)="deleteEmployee(employee.id)">Eliminar</ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>