<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Home
    </ion-title> -->
    <ion-buttons slot="end">
      <ion-button color="primary" *ngIf="!requestToken"
        (click)="requestPushNotificationsPermission()">
        Permitir Notificaciones
      </ion-button>
      <ion-button color="success" *ngIf="requestToken">
        Token Generado
      </ion-button>
      <ion-button color="success" (click)="getCurrentPosition()">
        Permitir Localización
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label *ngIf="requestToken">
    <p padding class="selectable">{{ requestToken }}</p>
  </ion-label>
  <ion-button color="success" *ngIf="requestToken" expand="block" (click)="copyToClipboard()">
    Copiar Token
  </ion-button>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Iniciar</ion-card-subtitle>
      <ion-card-title>Actualizar en Firebase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Ahora que ha sido creada <b>Actualiza el archivo de Imagen en el Almacenamiento de Firebase usando AngularFire.</b>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card padding>
    <p>{{ observableNumber$ | async }}</p>
    <p>Latest: {{ latestValue }}</p>
    <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    <progress max="100" [value]="(uploadProgress | async)"></progress>
    <div class="result" *ngIf="downloadURL | async; let uploadSrc">
      <a [href]="uploadSrc">Se ha actualizado este archivo.</a>
    </div>
    <section class="control-bar" *ngIf="uploadState | async; let state">
      <ion-button (click)="task.pause()" [disabled]="state === 'paused'">Pausa</ion-button>
      <ion-button (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancelar</ion-button>
      <ion-button (click)="task.resume()" [disabled]="state === 'running'">Resumir</ion-button>
    </section>
    <div class="container" *ngIf="downloadURL | async; let url">
      <img [src]="url" alt="Image from AngularFireStorage">
    </div>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Sigvit - Agregar|Buscar|Actualizar|Eliminar - Demo.</ion-label>
      </ion-list-header>
      <ion-item href="home/employees">
        <ion-icon slot="start" color="primary" name="book"></ion-icon>
        <ion-label color="primary">Médicos de Sigvit en Firebase</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
